[Desktop Entry]
Name=Downloader for X
Name[ru]=Качалка для Иксов
Name[es]=WebDownloader para X
Comment=downloading program
Comment[ru]=программа для скачивания файлов
TryExec=nt
Exec=nt
Icon=nt.xpm
Terminal=0
Type=Application
