[Desktop Entry]
Name=Downloader for X
Name[cs]=Downloader pro X
Name[fr]=Downloader for X
Name[es]=Downloader para X
Name[de]=Downloader für X
Name[pl]=Downloader dla X
Name[ru]=Качалка для Иксов
Comment=downloading program
Comment[cs]=Program pro stahování souborů
Comment[fr]=Programme de téléchargement de fichiers
Comment[es]=Una herramienta para descagar ficheros
Comment[de]=Programm zum Downloaden von Dateien
Comment[pl]=Program do pobierania plików z Internetu.
Comment[ru]=программа для скачивания файлов
Icon=nt.png
Exec=d4x
TryExec=d4x
Terminal=false
Type=Application
Encoding=UTF-8
